{% extends 'base.html.twig' %}

{% block title %}Data Mapper | Faq{% endblock %}

 {% block otherJS %}
     <link rel="stylesheet" type="text/css" href="{{ asset('css/ginfo.css') }}"/>
 {% endblock %}

{% block block1 %}
    faq index
    <div class="s-12 m-12 l-12">
        <div id="container"></div>
    </div>
{% endblock %}