{% extends 'base.html.twig' %}

{% block title %}Data Mapper | Faq{% endblock %}

 {% block otherJS %}
     <link rel="stylesheet" type="text/css" href="{{ asset('css/ginfo.css') }}"/>
 {% endblock %}

{% block block1 %}
    <div class="s-12 m-12 l-12">
        <div class="container">
            <br/>
            <br/>
            <br/>

            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                This section contains a general information, related to <strong>Data Mapper</strong> and its scope. If
                you cannot find an answer to your question,
                make sure to contact us.
            </div>

            <br/>

            <div class="panel-group" id="accordion">
                <div class="faqHeader">General questions</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">What
                                is Open Government Data?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Open government data is a term that consists of two elements Open and Government Data:
                            <ul>
                                <li><strong>Open data</strong> element supports the concept of freely distributing
                                    information to the
                                    public without the restriction of copyrights. Basic characteristics are availability
                                    and access to everyone with the ability to re-use and edit the source.
                                </li>
                                <li><strong>Government data </strong>is information produced by the government members
                                    of a country.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTen">What is Data Mapping?</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            A lot of the content of the site has been submitted by the community. Whether it is a
                            commercial
                            element/template/theme
                            or a free one, you are encouraged to contribute. All credits are published along with the
                            resources.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseEleven">Are sources of this site valid?</a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                            All prices for themes, templates and other items, including each seller's or buyer's account
                            balance are in <strong>USD</strong>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">I want to use some statistical data - Can i use them freely?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Any registed user, who presents a work, which is genuine and appealing, can post it on
                            <strong>PrepBootstrap</strong>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">HeatMap page is not loading</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            The steps involved in this process are really simple. All you need to do is:
                            <ul>
                                <li>Register an account</li>
                                <li>Activate your account</li>
                                <li>Go to the <strong>Themes</strong> section and upload your theme</li>
                                <li>The next step is the approval step, which usually takes about 72 hours.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFive">How much do I get from each sale?</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Here, at <strong>PrepBootstrap</strong>, we offer a great, 70% rate for each seller,
                            regardless
                            of any restrictions, such as volume, date of entry, etc.
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}