{% extends 'base.html.twig' %}

 {% block chartJS %}
     <link rel="stylesheet" type="text/css" href="{{ asset('css/ginfo.css') }}"/>
 {% endblock %}

{% block body %}
    faq index
    <div class="s-12 m-12 l-12">
        <div id="container"></div>
    </div>
{% endblock %}