{% extends 'base.html.twig' %}

{% block title %}Data Mapper | Faq{% endblock %}

{% block block1 %}
    <div class="s-12 m-12 l-12">
        <div class="container">
            <br/>
            <br/>
            <br/>

            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                This section contains general information, related to <strong>Data Mapper</strong> and its scope. If
                you cannot find an answer to your question,
                make sure to contact us.
            </div>

            <br/>

            <div class="panel-group" id="accordion">
                <div class="faqHeader">General questions</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">What is Open Government Data?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Open government data is a term that consists of two elements Open and Government Data:
                            <br/>
                            <br/>
                            <ul>
                                <li><strong>Open data</strong> element supports the concept of freely distributing
                                    information to the
                                    public without the restriction of copyrights. Basic characteristics are availability
                                    and access to everyone with the ability to re-use and edit the source.
                                </li>
                                <li><strong>Government data </strong>is information produced by the government members
                                    of a country.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTen">What is Data Mapping?</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Data mapping is the process of mapping specific data fields to target data fields. This
                            specification is involved on data integration and migration projects. Mapping the Open
                            Government Data project utilizes data integration techniques.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseEleven">Are sources of this site valid?</a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                            All data is loaded from verified open government data providers. Some of the web sources
                            are:
                            <br/>
                            <br/>
                            <ul>
                                <li><a href="http://data.worldbank.org/">The World Bank</a></li>
                                <li>
                                    <a href="https://www.google.com/maps/d/viewer?mid=1YFxB5xL2-Cw72s0r3nfC4LZzgzY&hl=en_US&ll=47.64935681320502%2C-2.2799286874999325&z=5">World
                                        Map of Open Government Data Initiatives
                                        Description</a>

                                </li>
                                <li><a href="https://www.nomisweb.co.uk/">Nomis (statistics on the UK labour market)</a>
                                </li>
                                <li><a href="https://www.cdrc.ac.uk/">Consumer Data Research Centre (CDRC)</a></li>
                                <li><a href="https://data.london.gov.uk/dataset">London Datastore(datasets from
                                        London)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">I want to use some statistical data - Can i use them freely?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            As the name states, <strong>Open</strong> Government Data, the original source of
                            information is open to the public. Statistical analysis provided by <strong>Data
                                Mapper</strong> is also available for reuse with modification.
                            <br/>
                            <br/>
                            Be sure to cite the original source of information.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">HeatMap page is not loading</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            HeatMap source of data are csv files stored in external storage space. If the page fails to
                            load, there is a possibility external server is down.
                            <br/>
                            <br/>
                            <br/>
                            <strong><a href="{{ path('general_info') }}">Try reloading page in 30secs.</a></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}