{% extends 'base.html.twig' %}

{% block body %}
    statistics index

    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_default_1" data-toggle="tab">
                        Crime </a>
                </li>
                <li>
                    <a href="#tab_default_2" data-toggle="tab">
                        Fire</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_default_1">
                    I'm in crime Tab.
                    {% block crime %}{% endblock %}
                </div>
                <div class="tab-pane" id="tab_default_2">
                    <p>
                        I'm in fire Tab.
                    </p>
                    {% block fire %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}